
/* CAROUSEL */
.Carousel{
    height: 45vh;
    background-color: aquamarine;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* OFFERS BAR  */
.Offers-bar{
    text-align: center;
    padding: 0.2% 0%;
}


/* CHOOSE YOUR JOURNEY BAR  */
.Journey-search{
    background-color: blue;
    text-align: center;
    padding: 0.2% 0%;

}

/* LOWER BARS  */
.lower1{
    height: 50vh;
    padding: 1% 5%;

    display: flex;
    justify-content: space-between;
}   
.facilites{
    height: 100%;
    width: 45%;
    background-color: red;
}
.packages{
    height: 100%;
    width: 45%;
    background-color: red;

}



.lower2{
    height: 50vh;
    background-color: skyblue;
    margin: 1%;

    display: flex;
    justify-content: center;
    align-items: center;

}
.lower3{
    height: 25vh;
    background-color: red;
    margin: 1%;
    

    display: flex;
    justify-content: center;
    align-items: center;

}
.lower4{
    height: 40vh;
    background-color: black;
    color: white;
    margin: 1%;

    display: flex;
    justify-content: center;
    align-items: center;


}



/* MEDIA QUERIES FOR MAX-WIDTH - 1000 */
@media (max-width: 1000px){
    .Carousel{
        
    }
    .Offers-bar{
    
    }
    .Journey-search{
    
    }
    .lower1{

    }
    .lower2{

    }
    .lower3{

    }
    .lower4{

    }
}




/* MEDIA QUERIES FOR MAX-WIDTH - 700 */
@media (max-width: 700px){
    .Carousel{
        
    }
    .Offers-bar{
    
    }
    .Journey-search{
    
    }
    .lower1{

    }
    .lower2{

    }
    .lower3{

    }
    .lower4{

    }
}




/* MEDIA QUERIES FOR MAX-WIDTH - 500 */
@media (max-width: 500px){
    .Carousel{
        
    }
    .Offers-bar{
    
    }
    .Journey-search{
    
    }
    .lower1{

    }
    .lower2{

    }
    .lower3{

    }
    .lower4{

    }
}